<!-- <div class="wrapper">
    <div class="alert alert-secondary">
        <h5>Product Name: <b>{{prodname}}</b></h5>
        <h5>Size: <b>{{prodsize}}</b></h5>
        <h3>Upload Image</h3>
        <form [formGroup]="PictureForm" (ngSubmit)="onPost()">
            <div class="form-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" required formControlName="files" (change)="onFileSelected($event)"/>
                </div>
            </div>
            <div style="margin-top: 10px;">
                <button class="btn btn-outline-primary" type="submit">POST</button>
            </div>
        </form>
    </div>
</div> -->

<div class="wrapper d-flex justify-content-center align-items-center">
    <div class="alert alert-secondary text-center p-4">
        <h5>Product Name: <b>{{prodname}}</b></h5>
        <h5>Size: <b>{{prodsize}}</b></h5>
        <h3>Upload Image</h3>
        <form [formGroup]="PictureForm" (ngSubmit)="onPost()" class="mt-4">
            <div class="form-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" required formControlName="files" (change)="onFileSelected($event)"/>
                </div>
            </div>
            <div style="margin-top: 10px;">
                <button class="btn btn-outline-primary" type="submit">POST</button>
            </div>
        </form>
    </div>
</div>

