.wrapper {
    margin: 0 auto;
    padding: 40px;
    max-width: 800px;
}
.card-container {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin: 20px;
        text-align: center;
    }

    .card {
        flex: 1;
        margin: 0 10px;
    }

    .card h2 {
        color: #333;
    }

    .card p {
        color: #666;
    }

    .daily-sales {
        background-color: #ffcc00;
    }

    .monthly-sales {
        background-color: #33cc33;
    }

    .summary-sales {
        background-color: #3399ff;
    }

    /* .chart-container {
        position: relative;
        height: 40vh;
    } */

    canvas {
        display: block;
        width: 100%;
        height: auto;
    }

    .table-container{
        overflow-y: scroll;
        height: 250px;
    }

    .table-container thead th {
        position: sticky; /* Make the header sticky */
        top: 0;          /* Stick to the top of the container */ /* Set background color to maintain visibility */
        z-index: 1;       /* Ensure the header is on top of the content */
    }
